<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mb-5">
        <h2 class="text-center ">Hello {{name}}</h2>
    </div>
    <div class="card">
        <div class="card-header">
          Currently holding
        </div>
        <div class="card-body">
          <h5 class="card-title">Wallet</h5>
          <p class="card-text fs-5">0€</p>

        </div>
      </div>
    <div class="card mt-4">
        <div class="card-header">
          For all months
        </div>
        <div class="card-body">
          <h5 class="card-title">Total income</h5>
          <p class="card-text fs-5">0€</p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          For all months
        </div>
        <div class="card-body">
          <h5 class="card-title">All expenses</h5>
          <p class="card-text fs-5">0€</p>
        </div>
      </div>
      
</body>
</html>