<div class="bg-color">
  <div class="container">
    <h1 class="mb-4 fs-1 display-1">Welcome, {{name}}</h1>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-light mb-4">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Current Wallet Balance</h5>
          </div>
          <div class="card-body">
            <h2 class="card-title text-primary">{{(+wallet || 0).toFixed(2) }}€</h2>
            <button (click)="refreshPage()" class="btn btn-primary btn-block">Refresh</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card bg-light mb-4">
          <div class="card-header bg-success text-white">
            <h5 class="mb-0">Total Income</h5>
          </div>
          <div class="card-body">
            <h2 class="card-title text-success">{{(+totalIncome || 0).toFixed(2) }}€</h2>
          </div>
        </div>
        <div class="card bg-light mb-4">
          <div class="card-header bg-danger text-white">
            <h5 class="mb-0">Total Expenses</h5>
          </div>
          <div class="card-body">
            <h2 class="card-title text-danger">{{(+totalExpenses || 0).toFixed(2) }}€</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
   
  
  
