<h1 class="text-center display-2 mb-4">Settings</h1>
<h4 class="text-center  mt-2">After any change, you will be logged out.</h4>

<div class="container mt-5">
    <h1 class="text-center mb-4">Update Name</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form #updateNameForm="ngForm" class="needs-validation" novalidate (submit)="onSubmitName(updateNameForm)">
                <div class="form-group">
                    <label for="newName">New Name:</label>
                    <input [(ngModel)]="nameForm.name"  type="text" class="form-control" id="newName" name="newName" placeholder="Enter your new name" required>
                    <div class="invalid-feedback">Please enter your new name.</div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-2">Submit changes</button>
            </form>
        </div>
    </div>
</div>

