/* login-page.component.css */
body {
    margin: 0;
    padding: 0;
}


.page-background {
    background: linear-gradient(to bottom, #5a4d9b, #000000);
    /* Other background styles */
    width: 100%;
    height: 100vh; /* Set the height to 100vh to cover the entire viewport height */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure the background is behind other content */
  }