<div class="card mb-4">
  <div class="card-header fs-3 bg-danger text-white">
    This Month
  </div>
  <div class="card-body">
    <h5 class="card-title">My Expenses</h5>
    <p class="card-text fs-5">{{ totalExpenses }}€</p>
  </div>
</div>

<form (ngSubmit)="onSubmit()" class="needs-validation mb-4" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="expensesAmount">Amount:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div>
          <input type="number" class="form-control" id="expensesAmount" name="expensesAmount" [(ngModel)]="expensesAmount" required>
          <div class="invalid-feedback">
            Please provide the expense amount.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="expensesSource">Comment:</label>
        <input type="text" class="form-control" id="expensesSource" name="expensesSource" [(ngModel)]="expensesSource" required>
        <div class="invalid-feedback">
          Please provide the expense source.
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-danger mt-2">Add</button>
</form>

<button class="hide-btn btn btn-outline-primary btn-sm mb-4" (click)="showTransactions()">Show Past Transactions</button>

<div id="transactions" class="card" style="height: 300px; overflow-y: auto;">
  <div class="card-header bg-danger text-white">
    <h2 class="mb-0">Expenses Transactions</h2>
  </div>
  <div class="card-body transactions">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Comment</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of expensesTransactions">
            <td>{{ transaction.amount }} €</td>
            <td>{{ transaction.source }}</td>
            <td>{{ transaction.createdAt | date: 'medium' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





<!-- <div class="card mb-4">
    <div class="card-header fs-3 display-3  bg-danger text-white">
      This month 
    </div>
    <div class="card-body">
      <h5 class="card-title">My Expenses</h5>
      <p class="card-text fs-5">{{totalExpenses}}€</p>
    </div>
  </div>

 
<form (ngSubmit)="onSubmit()" class="needs-validation w-25 mb-3" novalidate>
<div class="form-group">
<label for="expensesAmount">Amount:</label>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">€</span>
  </div>
  <input type="number" class="form-control" id="expensesAmount" name="expensesAmount" [(ngModel)]="expensesAmount" required>
  <div class="invalid-feedback">
    Please provide the expense amount.
  </div>
</div>
</div>
<div class="form-group">
<label for="expensesSource">Comment:</label>
<input type="text" class="form-control" id="expensesSource" name="expensesSource" [(ngModel)]="expensesSource" required>
<div class="invalid-feedback">
  Please provide the expense source.
</div>
</div>
<button type="submit" class="btn btn-danger  mt-2">Add</button>
</form>

<button class="hide-btn btn btn-outline-primary btn-sm" (click)="showTransactions()">Show past transactions</button>

<div id="transactions" class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h2 class="mb-0">Expenses Transactions</h2>
        </div>
        <div class="card-body transactions" style="max-height: 300px; overflow-y: auto;">
          <ul class="list-group list-group-flush">
            <li *ngFor="let transaction of expensesTransactions" class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span class="font-weight-bold">Amount:</span> {{ transaction.amount }} €
                </div>
                <div>
                  <span class="font-weight-bold">Comment:</span> {{ transaction.source }}
                </div>
                <div>
                  <small class="text-muted">Date: {{ transaction.createdAt | date: 'medium' }}</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

